@import "./tabContainer.css";
@import "./contacts.css";
@import "./quesitons.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-app {
  background-image: url("/public/background.jpg");
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
}
.form-check-input:checked {
  background-color: #28004e !important;
  border-color: #28004e !important;
}

input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
select {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
textarea {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
